# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/
**/example/.firebase/
coverage/html/amber.png
coverage/html/cmd_line
coverage/html/emerald.png
coverage/html/gcov.css
coverage/html/glass.png
coverage/html/index.html
coverage/html/ruby.png
coverage/html/snow.png
coverage/html/updown.png
coverage/html/lib/artifact.dart.gcov.html
coverage/html/lib/band.dart.gcov.html
coverage/html/lib/bands.dart.gcov.html
coverage/html/lib/character_definition.dart.gcov.html
coverage/html/lib/character_definitions.dart.gcov.html
coverage/html/lib/correction.dart.gcov.html
coverage/html/lib/english_words.dart.gcov.html
coverage/html/lib/index-sort-f.html
coverage/html/lib/index-sort-l.html
coverage/html/lib/index.html
coverage/html/lib/matrix.dart.gcov.html
coverage/html/lib/score_match.dart.gcov.html
coverage/html/lib/textify.dart.gcov.html
coverage/lcov_units.info
coverage/lcov.info
