# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/
example/.firebase/hosting.LmZpcmViYXNlL3Z0ZWFtLXRleHRpZnkvaG9zdGluZw.cache
example/.firebase/vteam-textify/hosting/.last_build_id
example/.firebase/vteam-textify/hosting/favicon.png
example/.firebase/vteam-textify/hosting/flutter_bootstrap.js
example/.firebase/vteam-textify/hosting/flutter_service_worker.js
example/.firebase/vteam-textify/hosting/flutter.js
example/.firebase/vteam-textify/hosting/index.html
example/.firebase/vteam-textify/hosting/main.dart.js
example/.firebase/vteam-textify/hosting/manifest.json
example/.firebase/vteam-textify/hosting/version.json
example/.firebase/vteam-textify/hosting/assets/AssetManifest.bin
example/.firebase/vteam-textify/hosting/assets/AssetManifest.bin.json
example/.firebase/vteam-textify/hosting/assets/AssetManifest.json
example/.firebase/vteam-textify/hosting/assets/FontManifest.json
example/.firebase/vteam-textify/hosting/assets/NOTICES
example/.firebase/vteam-textify/hosting/assets/assets/fonts/CourierPrime-Regular.ttf
example/.firebase/vteam-textify/hosting/assets/assets/samples/back-on-white-the_example_text.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/bank-statement-template-27.webp
example/.firebase/vteam-textify/hosting/assets/assets/samples/bank-statement.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/black-on-white-rounded.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/black-on-white-typewriter.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/classy.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/color-on-white-gummy.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/generated_odd_colors.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/lines-circles.png
example/.firebase/vteam-textify/hosting/assets/assets/samples/upper-case-alphabet-times-700x490.jpg
example/.firebase/vteam-textify/hosting/assets/fonts/MaterialIcons-Regular.otf
example/.firebase/vteam-textify/hosting/assets/packages/textify/assets/matrices.json
example/.firebase/vteam-textify/hosting/assets/shaders/ink_sparkle.frag
example/.firebase/vteam-textify/hosting/canvaskit/canvaskit.js
example/.firebase/vteam-textify/hosting/canvaskit/canvaskit.js.symbols
example/.firebase/vteam-textify/hosting/canvaskit/canvaskit.wasm
example/.firebase/vteam-textify/hosting/canvaskit/skwasm.js
example/.firebase/vteam-textify/hosting/canvaskit/skwasm.js.symbols
example/.firebase/vteam-textify/hosting/canvaskit/skwasm.wasm
example/.firebase/vteam-textify/hosting/canvaskit/skwasm.worker.js
example/.firebase/vteam-textify/hosting/canvaskit/chromium/canvaskit.js
example/.firebase/vteam-textify/hosting/canvaskit/chromium/canvaskit.js.symbols
example/.firebase/vteam-textify/hosting/canvaskit/chromium/canvaskit.wasm
example/.firebase/vteam-textify/hosting/icons/Icon-192.png
example/.firebase/vteam-textify/hosting/icons/Icon-512.png
example/.firebase/vteam-textify/hosting/icons/Icon-maskable-192.png
example/.firebase/vteam-textify/hosting/icons/Icon-maskable-512.png
